.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
  height: 100vh;
}

.product-card {
  background-color: #ffffff;
  //padding: 0.5em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image-container {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.product-image {
  //   width: 100%;
  max-height: 9rem;
  object-fit: cover;
  margin: 0rem;
}

.product-details {
  text-align: left;
  margin: 0rem;
}

.product-name {
  margin: 0rem;
  font-size: 1.1rem;
}

.product-description {
  font-size: 0.9rem;
  color: #888;
  margin: 0.3rem 0rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.3rem 0rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0rem;
}

.delete-button,
.edit-button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.delete-button {
  background-color: #ff0000;
}

.edit-button {
  background-color: #2500cc;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 11px solid white;
  padding: 10px;
  background: rgb(76, 9, 153);
  color: white;

  &:after {
    font-family: 'FontAwesome';
    content: '\f106';
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }
}
