.header-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 0;


  .navigation {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 4rem;
    width: 100%;
    padding: 1rem 0rem;
    background-color: #ffffff;
    // backdrop-filter: blur(5px);

    .logo {
      color: black;
      width: 11rem;
      margin: 0rem 3rem;
    }

    .navigation-menu {
      margin-right: auto;

      ul {
        display: flex;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0 1rem;

          .nav-link {
            text-decoration: none;
            color: black;
            display: block;
            width: 100%;
            &:hover {
              color: #042ccc;
              transform: scale(1.1)
            }
          }
        }
      }
    }

    .hamburger {
      display: none;
      border: 0;
      height: 40px;
      width: 40px;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: #283b8b;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      position: absolute;
      top: 20%;
      right: 25px;
      transform: translateY(-50%);

      &:hover {
        background-color: #2642af;
      }
    }

    @media screen and (max-width: 550px) {
      .hamburger {
        display: block;
      }

      .navigation-menu {
        ul {
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: calc(100vh - 60px);
          background-color: white;
          border-top: 1px solid black;
          display: none;

          li {
            text-align: center;
            margin: 0;

            .hamburger-link {
              color: black;
              width: 100%;
              padding: 1.5rem 0;
            }
          }

          li:hover {
            background-color: #eee;
          }
        }

        &.expanded {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
